body {
  background-color: #00FF00;
}

.genre_icons > div{
  margin:1pt;
  display:inline-block;
  /* vertical-align: middle; */
}

.genreBar {
  margin-left: 31.4%;
  margin-top: 3.4%;
}

#genreName {
  font-family: myriadcad;
  text-transform: uppercase;
  position: absolute;
  top: 71.6%;
  left: 60.5%;
  margin-right: -40%;
  transform: translate(-50%);
  color: #e9cb97;
  font-size: 36;
}

.gamesList {
  font-family: myriadcad;
  text-transform: uppercase;
  line-height: 1.8;
  position: absolute;
  text-align: center;
  top: 77%;
  left: 60.5%;
  margin-right: -40%;
  transform: translate(-50%);
  color: #e9cb97;
  font-size: 18;
  z-index: 1;
}

@font-face {
    font-family: myriadcad;
    src: url(../assets/fonts/myriadcad.otf);
}
